---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include feature/image.html objectid="https://aarnoldusf.github.io/TestExhibit/objects/Stories_on_a_Dime.png" height="50%" %}
<h2>About Dime Novels</h2>
    <p>Dime novels of the late 19th and early 20th provided entertainment in the form of genre fiction that has endured to this day.</p>
    
    <p>The term “dime novel” originates in the brand name Beadle’s Dime Novels, but these cheaply produced, paper-covered books were also called story papers, “thick books”, and were known as penny dreadfulsin the United Kingdom.</p>
    
    <p>Growing technology, industrialization, and increased literacy rates provided publishers with the opportunity to capitalize on the middle class’ desire for ready entertainment. While many dime novel publishers started by reprinting previously published serials as complete novels, the public’s voracious appetites for the sensationalized tales led to a boom in original works.</p>
    
 <p></p>
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
